<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite">

	<test name="BrowserType_MS Edge">
		<parameter name="Browser" value="EDGE"></parameter>
		<classes>
			<class name="TestCases.TC_001_CheckItenerary"></class>
		</classes>
	</test> <!-- Test -->

	<test name="BrowserType_FireFox">
		<parameter name="Browser" value="FireFox"></parameter>
		<classes>
			<class name="TestCases.TC_001_CheckItenerary"></class>
		</classes>
	</test> <!-- Test -->
	
	<test name="BrowserType_Chrome">
		<classes>
			<class name="TestCases.TC_001_CheckItenerary"></class>
		</classes>
	</test> <!-- Test -->
	
</suite> <!-- Suite -->
